.right{
    float: right;
}
div.in-block{
    display: inline-block;
}
#main{
    min-width: 590px;
}

@media only screen and (max-width:884px){
    #menu-lateral{
        right: 8px;
    }
}
@media only screen and (max-width: 810px){
    #menu-lateral{
        display: none;
    }
}