.preto li{
    list-style: initial;
    margin-bottom: 3px;
}
#main{
    min-width: 665px;
}
.branco li{
    list-style: circle;
    margin-bottom: 3px;
}
.float-rigth{
    float: right;
    margin: auto;
    width: min-content;
}
/*Menu lateral*/
@media only screen and (max-width: 980px){
    #menu-lateral{
        right: 8px;
    }
}
@media only screen and (max-width: 910px){
    #menu-lateral{
        display: none;
    }
}